.carousel-inner img{
    height: 400px;
}

.carousel-caption div{
    padding-top: 10px;
    padding-bottom: 1px;
    text-transform: lowercase;
    color: #181920;
    line-height: 1.5;
}

/* Convierte la primera letra a mayuscula */
.carousel-caption h3{
    text-transform: uppercase;
    background-color: white;
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-bottom: 1%;
}