.input-group-prepend {
	width: 48px;
    height: 39px;
}

.center {
	margin: auto;
}

#registerForm {
	display: none;
}

#errorEmailLogin, #errorPassLogin, #errorEmailRegister, #errorPassRegister, #errorConfirmPass {
	color: red;
}