.contentProduct {
	margin-bottom: -30%;
	color: black;
}

.titleProduct {
	text-transform: uppercase;
	margin-top: 10%;
	word-wrap: break-word;
}

.descriptionProduct {
	text-align: justify;
}

.prizeProduct {
	background-color: yellow;
	text-align: center;
	font-weight: bold;
}

.textHeader {
	margin-left: 15px;
}

.alignSpace {
	margin-left: 4%;
	margin-bottom: -5%;
    margin-top: 2%;
}