/* MODAL */
.datos table{
    width: 100%;
    max-width: 1650px;
    margin-top: 30px;
    border-collapse: collapse;
    font-family: Hero,'Open Sans',sans-serif;
    text-align: center;
}

.datos th, .datos td{
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.datos tr:hover {
    background: #fbf8e9;
    transition: all 0.1s ease-in-out;
}

.datos tr:first-child{
    background-color: #D8F0EF;
}

.autoWidth {
    float: left;
}

/* END MODAL */



@media (max-width: 986px){
    .imgCart {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 987px){
    .imgCart {
        width: 20%;
        height: auto;
    }
}

.quantityButton {
    font-size: 35px;
}